/* global styles */
h1, h2, h3, h4, h5, h6 {
  color: #0E133A;
  font-weight: 700;
}

p {
  color: #5B5D6D;
  line-height: 1.5;
}

.custom__global__title {
  font-size: 48px;
  margin-bottom: 64px;
}

.custom__max__width {
  width: 100%;
  max-width: 1210px;
  margin: auto;
}

.custom__bottom__margin {
  margin-bottom: 20px;
}

/* end of global styles */

/* .custom__main__container {  
  width: 100%;
  max-width: 1210px;
  margin: auto;
} */


.custom__hero__section-height {
  height: 738px;
}

.custom__header, .custom__nav__wrapper {
  background-color: #F4F5FA !important;
  margin-bottom: 76px;
  
}

.custom__hero__section-img {
  position: absolute;
  right: 0;
}

.custom__hero__section-h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.custom__hero__section-title {
  font-size: 50px;
  color: #0E133A;
  margin-bottom: 20px;
}

.custom_primary {
  color: #1F33D8;
}
.custom_secodary {
  color: #FCD768;
}

.hero_btn_group {
  margin-top: 88px;
}

.custom__hero__section-btn__1 {
  background: #1F33D8;
  padding: 16px 56px !important;
  border-radius: 38px;
  margin-right: 5px;
  color: #fff
}

.github__img {
  width: 28px;
}

/* akacoin styles */
.custom__akaCoin-h2 {
  font-size:  40px;
  Line-height: 52px;
}

.custom__margin__bottom {
  margin-bottom: 80px;
}

.custom__akacoin__img {
  display: inline-block;
  
}

.custom__player__container {
  max-width: 760px;
  width: 100%;
  height: 100%;
}

.custom__aka__margin__bottom {
  margin-bottom: 150px;
}

/* wallet */

.custom__wallet__card {
  border-radius: 15px;

}

.custom__wallet__primary {
  background-color: #1F33D8;
}

.custom__wallet__primary h5, p {
  color: #ffffff;
}

.custom__wallet__secondary {
  background-color: #FFD456;
}

.custom__wallet__secondary h5, p {
  color: #0E133A ;
}

.custom__wallet__card {
  border: none;
  max-width: 373px;
  margin: auto;
  width: 100%;
  overflow: hidden;
  height: 462px;
  
}

.custom__z__index {
  z-index: 10;
}

.card-footer {
  background: transparent;
  border: none;
  color: #fff !important;
}

.card-footer a {
  text-decoration: none;
  color: #fff !important;
}

.custom__rectangle1 {
  position: absolute;
  width: 234px;
  height: 113px;
  right: 0;
  border-radius: 56px 0px 0px 56px;
  top: -10px;
}

.custom__rectangle2 {
  position: absolute;
  width: 120px;
  height: 75px;
  border-radius: 36px 0px 0px 36px;
  bottom: 150px;
  right: 0px;
}

.custom__rectangle3 {
  position: absolute;
  width: 244px;
  height: 62px;
  border-radius: 0px 31px 31px 0px;
  left: 0;
  bottom: 40px;
}

.custom__rectanlg__primary {
  background-color: #0C20CB;
}

.custom__rectangle__secondary {
  background-color: #EEBC28;
}

.custom__bg__blue {
  background-color: #0C20CB;
}

/* quick starts styles */

.custom__quick_banner {
  margin: 100px 0px 120px 0px;
}

.quickstart__banner__rectanlge-1 {
  width: 140px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 25px 0px 0px 25px;
}

/* counter styles */

.custom__counter__container {
  padding: 40px;
  border-bottom: 11px solid #FFD456;
  margin-bottom: 60px;
}

.custom__counter__container p, h3 {
  color: #fff;
}

.custom__footer__link {
  color: #5B5D6D;
}