/* global styles */
h1, h2, h3, h4, h5, h6 {
  color: #0E133A;
  font-weight: 700;
}

p {
  color: #5B5D6D;
  line-height: 1.5;
}

.custom__global__title {
  font-size: 48px;
  margin-bottom: 64px;
}

.custom__max__width {
  width: 100%;
  max-width: 1210px;
  margin: auto;
}

.custom__bottom__margin {
  margin-bottom: 20px;
}

/* end of global styles */

/* .custom__main__container {  
  width: 100%;
  max-width: 1210px;
  margin: auto;
} */


.custom__hero__section {
  background-image: url(https://i.ibb.co/P5Rhjyd/Bitcoin.png);
  background-repeat: no-repeat;
  background-position: 100% 35%;
  background-size: 15%;
}

.custom__header, .custom__nav__wrapper {
  background-color: #F4F5FA !important;
  
}

.custom__hero__section-h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.custom__hero__section-title {
  font-size: 50px;
  color: #0E133A;
  margin-bottom: 20px;
}

.custom_primary {
  color: #1F33D8;
}
.custom_secodary {
  color: #FCD768;
}

.hero_btn_group {
  margin-top: 88px;
}

.custom__hero__section-btn__1 {
  background: #1F33D8;
  padding: 16px 56px !important;
  border-radius: 38px;
  margin-right: 5px;
  color: #fff
}

.github__img {
  width: 28px;
}

/* akacoin styles */
.custom__akaCoin-h2 {
  font-size:  40px;
  Line-height: 52px;
}

.custom__margin__bottom {
  margin-bottom: 80px;
}

.custom__akacoin__img {
  display: inline-block;
  
}

.custom__player__container {
  max-width: 760px;
  width: 100%;
  height: 100%;
}

.custom__aka__margin__bottom {
  margin-bottom: 150px;
}

/* wallet */

.custom__wallet__primary {
  background-color: #1F33D8;
}

.custom__wallet__primary h5, p {
  color: #ffffff;
}

.custom__wallet__secondary {
  background-color: #FFD456;
}

.custom__wallet__secondary h5, p {
  color: #0E133A ;
}

.custom__wallet__card {
  border: none;
  margin: auto;
  width: 100%;
  overflow: hidden;
  height: 462px;
  border-radius: 15px;
}

.custom__z__index {
  z-index: 10;
}

.card-footer {
  background: transparent;
  border: none;
  color: #fff !important;
}

.card-footer a {
  text-decoration: none;
  color: #fff !important;
}

.custom__rectangle1 {
  position: absolute;
  width: 234px;
  height: 113px;
  right: 0;
  border-radius: 56px 0px 0px 56px;
  top: -10px;
}

.custom__rectangle2 {
  position: absolute;
  width: 120px;
  height: 75px;
  border-radius: 36px 0px 0px 36px;
  bottom: 150px;
  right: 0px;
}

.custom__rectangle3 {
  position: absolute;
  width: 244px;
  height: 62px;
  border-radius: 0px 31px 31px 0px;
  left: 0;
  bottom: 40px;
}

.custom__rectanlg__primary {
  background-color: #0C20CB;
}

.custom__rectangle__secondary {
  background-color: #EEBC28;
}

.custom__bg__blue {
  background-color: #0C20CB;
}

/* quick starts styles */

.custom__quick_banner {
  margin: 100px 0px 120px 0px;
}

.quickstart__banner__rectanlge-1 {
  width: 140px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 25px 0px 0px 25px;
}

.quickstart__banner__rectanlge-2 {
  width: 141px;
  height: 58px;
  position: absolute;
  border-radius: 0px 29px 29px 0px;
  left: 0;
  top: 35%;
}

.quickstart__banner__rectanlge-3 {
  width: 56%;
  height: 58px;
  position: absolute;
  left: 0;
  bottom: 10%;
  border-radius: 0px 29px 29px 0px;
}

.quickstart__banner__rectanlge-4 {
  width: 30%;
  height: 84px;
  position: absolute;
  right: 0;
  bottom: -7%;
  border-radius: 40px 0px 0px 40px;
}

/* counter styles */

.custom__counter__container {
  padding: 40px;
  border-bottom: 11px solid #FFD456;
  margin-bottom: 60px;
}

.custom__counter__container p, h3 {
  color: #fff;
}

.custom__footer__link {
  color: #5B5D6D;
}




/* media quearies */

@media screen and (max-width: 768px) {
  .custom__hero__section {  
    background-position: 100% 75%;
    background-size: 30%;
  }

  .custom__media__container {
    flex-direction: column;
    align-items: center !important;
  }
}


.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #F4F5FA !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 0px 20px;
}

/* sidebar styles */

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: 75px;
  bottom: 0;
  margin-left: -300px;
  /* background-color: blue; */
  transition: 0.5s;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}
.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}
/* for main section */
.active-cont {
  margin-left: 180px;
}
#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}


/* dashboard styles */
.custom__dashboard__margin {
  margin-left: 180px;
}

